name: Linux

on: [push, pull_request]

jobs:
  build:
    name: Build and test
    runs-on: ${{ matrix.os }}-latest
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu]

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true

      - run: docker/start.sh

      - uses: mlugg/setup-zig@v2
        with:
          version: 0.15.2
          use-cache: false

      - run: rm -rf ./.zig-cache/

      - run: zig version

      - run: zig build test -freference-trace --summary all

