name: MacOS

on: [push, pull_request]

jobs:
  build:
    name: Build and test
    runs-on: ${{ matrix.os }}-latest
    strategy:
      fail-fast: false
      matrix:
        os: [macos]

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
      
      - run: brew install nats-server@2.11


      - run: nats-server -js -m 8222 & 

      - uses: mlugg/setup-zig@v2
        with:
          version: 0.15.2
          use-cache: false

      - run: rm -rf ./.zig-cache/

      - run: zig version

      - run: zig build test -freference-trace --summary all

